.appRoot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.contentOuter {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
}

.number {
    width: 35px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.number.different {
    background-color: #f00;
}

.number.selected {
    border-color: #0f0;
}

.comparisonOuter {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    height: 100%;
}

.comparisonFile {
    flex-grow: 1;
    padding: 0px 10px;
}